
@*@{
    ViewBag.Title = "LoiPhanQuyen";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}*@

<h2>Bạn không đủ quyền truy cập  Vui lòng trở  về TRANG CHỦ 
    @Html.ActionLink("Trở về","Index","Home",null,null)</h2>

